<!DOCTYPE html>
<html>
  <head>
    <title>One</title>
    
    <% include include/game.ejs %>    
 
    <script>   
         
      
      function userScriptLoaded() {
        var keyPressedEvent = module.tp$getattr('keyPressedEvent');

        keyPressed (function(keyCode) {
          if(keyPressedEvent) {
            Sk.misceval.callsim(keyPressedEvent, new Sk.builtin.str(keyCode));
          }  
        });
      }    
      
      document.addEventListener('DOMContentLoaded', function() {    
        importPythonGame();
        
        // Set up game
        createEmptyMaze(16, 8) 
        addPlayer(6, 4)
        
        // Load the user script file
        loadUserScript('/py/ch-1.py')
        
      })    
    </script>
    
  </head>
  <body>
    <div id="game"></div>
  </body>
</html>
